@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f8fc;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background-color: #007f7a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #005a5a;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  padding: 10px;
  background-color: #007f7a;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f7f8fc;
}

table tr:hover {
  background-color: #f0eeee;
}

table button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0.5rem;
}

button i {
  margin-right: 6px;
}

table #delete-btn {
  background-color: #dc3545;
  transition: transform 0.2s ease;
}

table #delete-btn:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

table #edit-btn {
  background-color: #007bff;
  transition: transform 0.2s ease;
}

table #edit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  table #delete-btn,
  table #edit-btn {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    place-self: center; */
    padding: 5px 5px;
    margin: 2px;
  }
  /* table #edit-btn {
    margin-top: 4px;
  } */
  span {
    display: none;
  }
  button i {
    margin: 0;
  }
}
